/* Header.css */
.large-letter-mobile{
    font-size: 3rem; /* Set font size */
}

/* General Styles */
.nav-link.nav-item,
.navbar-link a,
.nav-link a,
.navbar-link:hover,
.navbar-link.active a,
.nav-link.active a {
    text-decoration: none !important; /* Removes text decoration */
    color: black; /* Text color */
}

/* Hover and active link styles */
.navbar-link:hover,
.navbar-link.active {
    color: #000;
    font-weight: bold; /* Makes text bold */
}

/* Brand and icons styles */
.navbar-brand {
    font-weight: bold; /* Makes text bold */
    font-size: 1.5rem; /* Set font size */
}

.navbar-icons {
    color: black; /* Icon color */
}

.navbar-icons:hover {
    background-color: #eee; /* Background color on hover */
    border-radius: 50%; /* Rounded shape on hover */
}

/* Search icon styles */
.search-mobile-image {
    display: none; /* Hide by default, will be shown in mobile view */
}

/* Desktop-specific styles */
@media only screen and (min-width: 768px) {
    .mobile-app-title {
        display: none; /* Hide mobile title on desktop */
    }

    .nav-link.nav-item {
        margin-left: 40px; /* Space out nav items */
        font-size: 1.9rem; /* Original size */
    }
    .sub-header {
        display: none;
    }
}

/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    .desktop-app-title {
        display: none; /* Hide desktop title on mobile */
    }
    .mobile-app-title {

        display: block; /* Show mobile title */
        font-size: 2rem; /* Set font size */
    }

    .search-desktop-image {
        display: none; /* Hide desktop search icon on mobile */
    }

    .toolbar-mobile {
        display: flex;
        justify-content: space-between;

    }

    .sub-header {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: #f8f8f8; /* Adjust color as needed */
    }

    .nav-item-mobile-hidden {
        display: none; /* Hide nav items that should not appear on mobile */
    }

    .search-mobile-image {
        display: block; /* Show mobile search icon */
        cursor: pointer;
        margin-top: 5px;
        margin-right: 5px;
    }

    /* Adjust nav items on mobile */
    .nav-link.nav-item {
        text-decoration: none;
        margin-left: 15px; /* Smaller margin for mobile */
        font-size: 1.4rem; /* Smaller font size for mobile */
    }
}


/* This will center all toolbar items */
