/* Header.css */

.nav-link.nav-item {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    font-size: 1.6rem; /* Original size */
}

@media only screen and (max-width: 600px) { /* Adjust 600px as needed for your mobile breakpoint */
    .desktop-app-title {
        display: none; /* Hides the full title on small screens */
    }
    .search-desktop-image{
        display: none;
    }
    .nav-link.nav-item {
        margin-left: 10px; /* Smaller margin for mobile */
        font-size: 1.2rem; /* Smaller font size for mobile */
        margin-top: 7px;
    }

}
@media only screen and (min-width: 601px) {
    .mobile-app-title {
        display: none; /* Hides the icon on larger screens */
    }
    .search-mobile-image{
        display: none;
    }
}


{
    text-decoration: none;
    color: darkred;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 3rem;
    transition: color 0.3s ease;
}

.navbar-link:hover, .navbar-link.active {
    color: #000;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-icons {
    color: black;
}

.navbar-icons:hover {
    background-color: #eee;
    border-radius: 50%;
}

/* .active class styling removed here */
