.parent-container {
    display: block;
    width: 100vw; /* Adjust the width as needed */
}
.search-bar input {
    width: 40%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.location-input input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
.location-input {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: start; /* Center children horizontally */
    gap: 7px; /* Add some space between the input and the button */
}

.location-input input {
    flex-grow: 1; /* Let the input expand to fill the space */
    /* Other styles remain the same */
}

/* Add a new style for the button within .location-input */
.location-input button {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #5C6BC0; /* Change the color to your preference */
    color: white; /* Change the text color to white for better contrast */
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    /* You can add :hover state if needed */
}

.location-input button:hover {
    background-color: #3949AB; /* Darken button color on hover */
}

/* Ensure the button's font size is consistent */
.filters button, .location-input button {
    font-size: 1rem; /* Adjust the size as needed */
}

.search-page .location-input input::placeholder {
    color: #aaa;
    opacity: 0.7;
}
.filters button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.recent-searches h2 {
    margin-bottom: 10px;
}

.recent-searches ul {
    list-style: none;
    padding-left: 0;
}

.recent-searches li {
    margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
    .search-page {
        font-family: Arial, sans-serif;
        grid-column: 2;
        grid-row: 2;
        width: 100%;
        padding: 5px;
    }
}
@media only screen and (min-width: 768px) {
    .search-page {
        font-family: Arial, sans-serif;
        grid-column: 2;
        grid-row: 2;
        width: 25%;
        padding: 30px;
    }
}

.recent-searches ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Adjust the space between items and columns as needed */
    padding: 0;
    list-style-type: none; /* Removes the default list styling */
}

.recent-searches li {
    background-color: #f0f0f0; /* Example background color */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.recent-searches h6 {
    margin: 0; /* Removes default margins from h6 elements */
    /* Additional styling for h6 can go here */
}
