.event-detail-container {
    display: flex;
    margin-left: 230px ;
    justify-content: left;
    align-items: flex-start;
}
.event-info {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}
.event-map {
    flex: 1;
    background: white;
    padding: 2px;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.event-photo-container {
    border-radius: 20px;
    text-align: left;
    margin-right: 250px;
    margin-left: 250px;
    overflow: hidden; /* This will ensure that any part of the image that goes beyond the specified dimensions will be hidden */
}

.event-photo-container img {
    display: block; /* This ensures the image is on its own line and takes up the full width available */
    width: 100%; /* Set a specific width or use 100% to make it responsive to the container size */
    height: 100%; /* This will maintain the aspect ratio of the image */
    max-height: 400px; /* Set a maximum height for all images */
    object-fit: cover; /* This will cover the area of the container without stretching the image */
}